pandas

### Notebooks
jupyterlab
#### Code formatter
jupyterlab_code_formatter
##### Different code formatter
black 
isort
autopep8
yapf

### Linter
flake8
pylint

### Plotting
matplotlib
seaborn



widgetsnbextension
jupyterlab-git
lckr-jupyterlab-variableinspector
jupyterlab-link-share
# jupyterlab-lsp
# xeus-python
