pandas

### Notebooks
#### Code formatter
jupyterlab_code_formatter
##### Different code formatter
black 
isort
autopep8
yapf 


widgetsnbextension
jupyterlab-git
lckr-jupyterlab-variableinspector
# jupyterlab-lsp
# xeus-python
